<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zerowidth.zoom-calendar</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1FB4FAE8-BF37-41A6-8405-30962BCCA5C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2CE8C6E-CB73-4E5B-9445-BC970B1E65FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2077ECF5-7E8B-4F29-BB5D-754E25581055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B10A1523-ECE4-466D-AD63-78A2786221C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2CE8C6E-CB73-4E5B-9445-BC970B1E65FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B10A1523-ECE4-466D-AD63-78A2786221C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FB4FAE8-BF37-41A6-8405-30962BCCA5C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zerowidth</string>
	<key>description</key>
	<string>Open Zoom meetings from your calendar</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom Calendar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:link}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B10A1523-ECE4-466D-AD63-78A2786221C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:link}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1FB4FAE8-BF37-41A6-8405-30962BCCA5C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zz</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>zoom.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Zoom from Calendar events</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2077ECF5-7E8B-4F29-BB5D-754E25581055</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B2CE8C6E-CB73-4E5B-9445-BC970B1E65FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1FB4FAE8-BF37-41A6-8405-30962BCCA5C2</key>
		<dict>
			<key>note</key>
			<string>var:link</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>2077ECF5-7E8B-4F29-BB5D-754E25581055</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>B10A1523-ECE4-466D-AD63-78A2786221C7</key>
		<dict>
			<key>note</key>
			<string>extra link set?</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>B2CE8C6E-CB73-4E5B-9445-BC970B1E65FB</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/zerowidth</string>
</dict>
</plist>
